# KIE Server
KIESERVER_URL=http://localhost:8080/kie-server/services/rest/server
KIESERVER_USER=wbadmin
KIESERVER_PASSWORD=change-me
KIESERVER_CONTAINER=exercise-prescription_1.0.0-SNAPSHOT
PROCESS_ID=exercise-prescription.PrescripcionEjercicio

# Correo
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=example@gmail.com
MAIL_PASSWORD=change-me
MAIL_FROM=example@gmail.com

# Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9092

# PostgreSQL
POSTGRES_DB=tfgdb
DB_URL=jdbc:postgresql://localhost:5432/tfgdb
DB_USERNAME=change-me
DB_PASSWORD=change-me

# Aplicaciones
APP_BASE_URL=http://localhost:9090
RESUMEN_API_URL=http://localhost:9091